@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #6366f1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
    text-align: center;
    font-family: 'Inter', sans-serif;
    padding: 0.1rem;
    background-color: var(--background-color);
}

.header-content {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 1rem;
}

.logo-section {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.625rem;
}

.logo-section img {
    height: 5.875rem;
    width: 1.938rem;
}

.logo-text {
    font-size: 2rem;
}

.nav-section {
    display: none;
    align-items: center;
    gap: 1.5rem;
}

@media screen and (min-width: 768px) {
    .nav-section {
        display: flex;
    }
}
.nav-link {
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}

.nav-link:hover {
    color: var(--link-color);
}

.btn {
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .btn {
        display: block;
    }
}
.btn:hover {
    background-color: #5254f8;
}

.menu-btn {
    display: none;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--background-color);
    cursor: pointer;
}
@media screen and (min-width: 768px){
    .mobile-menu{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .menu-btn {
        display: block;
    }
    .header-content {
        padding: 0.1rem 1rem;
        position: relative;
    }
    .logo-section {
        z-index: 2;
    }
    .mobile-menu {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--light-gray);
        width: 100vw;
        height: 80vh;
        z-index: 1;
        animation: slideFromLeft 1s ease forwards;
    }
    .mobile-nav{
        display: flex;
        flex-direction: column;
        padding-top: 30%;
        gap: 2rem;
    }
    .nav-link {
        font-size: 1.2rem;
        border: none;
        padding: 1rem;
        transform: color 0.1s;
    }
    .nav-link:hover{
        color: var(--link-color);
    }
    .cross-btn {
        display: block;
        border: none;
        border-radius: 0.375rem;
        font-size: 1.4rem;
        font-weight: 600;
        background-color: var(--light-gray);
        cursor: pointer;
    } 
}
.menu-icon {
    height: 1.5rem;
    width: 1.5rem;
}
.hero-section{
    width: 100vw;
}
.main-section {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}

.left-section {
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.section-label {
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}

.section-title {
    font-size: 2rem;
    padding: 1.1rem;
    color: var(--text-color);
}

.section-description {
    color: var(--gray);
    font-size: 1.13rem;
}

.button-group {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
}

.start-button,
.tour-button{
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.tour-button {
    background-color: var(--dark-gray);
}

.tour-button:hover{
    background-color: var(--gray);
}

.start-button:hover{
    background-color: #5254f8;
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container {
    border: none;
    border-radius: 1.125rem;
    height: 50vh;
    overflow: hidden;
    opacity: 0;
    animation: slideFromRight 1s ease forwards;
}

@keyframes slideFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.section-image{
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .main-section {
        flex-direction: row;
    }
    .left-section {
        max-width: 50%;
        text-align: left;
    }
    .section-title {
        padding-left: 0;
        font-size: 4rem;
    }
    .button-group {
        justify-content: start;
        padding-left: 0;
    }
    .section-description {
        width: 80%;
    }
    .img-container {
        height: 67vh;
    }
}

.company-section {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: slideFromLeft 1s ease forwards;
}

.company-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 2rem 1.5rem; 
    background-color: var(--light-gray);
    border: none;
    border-radius: 0.9rem;
    row-gap: 5rem;
}
.company-details {
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.company-name {
    color: var(--gray);
}
.svg-img {
    height: 1.1rem;
}

@media screen and (min-width: 680px) {
    .company-grid {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 5rem;
    }
    .company-title{
        font-size: 2.3rem;
    }
    .company-section{
        margin-top: 2.5rem;
    }
}

.feature-section {
    background-color: var(--light-gray);
    margin: 2rem 0rem;
    padding: 2.5rem 0;
}

.feature-container {
    max-width: 800px;
    margin: 0 auto;
}

.feature-title {
    font-size: 1.15rem;
}

.feature-description {
    color: var(--gray);
    margin: 1rem 0;
    font-size: 1rem;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.feature-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--background-color);
    background-color: #6785c5;
    padding: 2rem;
    border-radius: 1rem;
}

.card-logo-container {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

.card-logo {
    width: 1.5rem;
    height: 1.5rem;
}
.feature-card:nth-child(1) {
    background-color: #4a90e2;
}
.feature-card:nth-child(2) {
    background-color: #ff6289;
}
.feature-card:nth-child(3) {
    background-color: #fcbf58;
}
.feature-card:nth-child(4) {
    background-color: #44bfc3;
}
.feature-card:nth-child(5) {
    background-color: #77b05d;
}
.feature-card:nth-child(6) {
    background-color: #7d78b1;
}

.card-title {
    font-size: 1.3rem;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .feature-grid{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 1rem;
    }
    .main-info {
        margin: 0 0.4rem;
    }
}

.testinomial-section{
    max-width: 1280px;
    background-color: var(--background-color);
    margin: 2rem auto;
    padding: 0 2rem;
}

.testinomial-title {
    font-size: 1.875rem;
    font-weight: bold;
}

.testinomial-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
    grid-gap: 2rem;
}

.testinomial-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(166, 164, 164);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    gap: 1rem;
    transition: transform 0.3s ease, box-shodow 0.3s ease;
}
.testinomial-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid blue;
}

.testinomial-avatar img {
    height: 5rem;
    width: 5rem;
}

.testinomial-text,.testinomial-desc {
    font-size: 0.875rem;
    color: #777;
}

.testinomial-name {
    font-size: 1rem;
    color: var(--primary-color);
    animation: loader 2s linear infinite;
}

@media screen and (max-width: 760px) {
    .testinomial-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}